<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat</title>
    <link rel="stylesheet" href="/public/css/chat.css">
</head>
<body>
    <div class="container">
        <div class="chatBox">
            <div class="col-1">

                <div class="msg-row">
                    <div class="msg-text">
                        <h2>Steven Austin</h2>
                        <p>I am waiting for Youthfvfj </p>
                    </div>
                    <img src="/public/images/member-1.png" class="msg-img">
                </div>

                <div class="msg-row msg-row2">
                    <img src="/public/images/member-2.png" class="msg-img">
                    <div class="msg-text">
                        <h2>Emmy Austina</h2>
                        <p>I am waiting for You jgkgkl b kghr lgjvgiug lkbfj pfb foivoj fp jjkfguy  fpjtj</p>
                    </div>   
                </div>

                <div class="msg-row">
                    <div class="msg-text">
                        <h2>Ste Austin</h2>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit</p>
                    </div>
                    <img src="/public/images/member-1.png" class="msg-img">
                </div>
    
                <div class="msg-row msg-row2">
                    <img src="/public/images/member-2.png" class="msg-img">
                    <div class="msg-text">
                        <h2>Steven Austin</h2>
                        <p>I am waiting for . Quas tempora quidem ipsa deleniti, facere porro 
                            et sed neque exercitationem odit ipsam excepturi autem, 
                            enim dicta dignissimos temporibus id maiores incidunt! You</p>
                    </div>  
                </div>
                <input type="text" placeholder="Type Your message here...">
            </div>
            <div class="col-2">
                <h3>Friends</h3>
                <ul>
                    <li class="online">john mwaungolu</li>
                    <li class="offline">Jane Joseph</li>
                    <li class="busy">Bless Ngoma</li>
                    <li class="online">Jame mawnko</li>
                    <li class="busy">waliko mwaungolu</li>
                    <li class="offline">john mwaungolu</li>
                </ul>
             </div>
           
        </div>
    </div>
</body>
</html>