<%- include("layouts/header.ejs")%>

    <div class="profile-container">
        <img src="public/images/cover.png" class="cover-img">
        <div class="profile-details">
            <div class="pd-left">
                <div class="pd-row">
                    <img src="public/images/profile.png" class="pd-image">
                    <div>
                        <h3>Jackson Mwale</h3>
                        <p>120 Friends - 20 mutual</p>
                        <img src="public/images/member-2.png">
                        <img src="public/images/member-3.png">
                        <img src="public/images/member-4.png">
                        <img src="public/images/member-5.png">
                        <img src="public/images/member-6.png">
                    </div>
                </div>
            </div>
            <div class="pd-right">
                <button type="button"><img src="public/images/add-friends.png" alt=""> Friends</button>
                <button type="button"><img src="public/images/message.png"> Message</button>
                <br>
                <a href=""><img src="public/images/more.png" ></a>
            </div>
        </div>

        <div class="profile-info">
            <div class="info-col">

                <div class="profile-intro">
                    <h3>Intro</h3>
                    <p class="intro-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus vel, enim temporibus porro qui repellat blanditiis sequi amet culpa fugiat, velit assumenda veniam 
                        eligendi quisquam recusandae? Eos placeat necessitatibus dolores.
                    <img src="public/images/feeling.png" alt=""></p>
                    <hr>
                    <ul>
                        <li><img src="public/images/member-9.png"> Blessings Ngoma</li>
                        <li><img src="public/images/profile-job.png">Works at Polytechinic Administration</li>
                        <li><img src="public/images/profile-study.png">Studied At Malawi Polytechinic University</li>
                        <li><img src="public/images/profile-home.png"> imFrom Blantyre,Malawi</li>
                    </ul>
                </div>
                <div class="profile-intro">
                    <div class="title-box"><h3>Photos</h3>
                        <a href="">All Photos</a></div>
                    <div class="photo-box">
                        <div><img src="public/images/photo1.png"></div>
                        <div><img src="public/images/photo2.png"></div>
                        <div><img src="public/images/photo3.png"></div>
                        <div><img src="public/images/photo4.png"></div>
                        <div><img src="public/images/photo5.png"></div>
                        <div><img src="public/images/photo6.png"></div>
                    </div>
                </div>

                <div class="profile-intro">
                    <div class="title-box"><h3>Friends</h3>
                        <a href="">All Friends</a></div>
                        <p>120(10 mutual)</p>
                    <div class="friends-box">
                        <div><img src="public/images/member-2.png"><p>Jame</p></div>
                        <div><img src="public/images/member-3.png"><p>Jane</p></div>
                        <div><img src="public/images/member-4.png"><p>John</p></div>
                        <div><img src="public/images/member-6.png"><p>Jame</p></div>
                        <div><img src="public/images/photo1.png"><p>Mary</p></div>
                        <div><img src="public/images/photo2.png"><p>Job</p></div>
                        <div><img src="public/images/photo3.png"><p>Maya</p></div>
                        <div><img src="public/images/member-9.png"><p>Simon</p></div>
                        <div><img src="public/images/photo5.png"><p>Jame</p></div>
                        <div><img src="public/images/photo6.png"><p>Bless</p></div>
                    </div>
                </div>
            </div>
            <div class="post-col">
                <div class="write-post-container">
                    <div class="user-profile">
                        <img src="public/images/profile-pic.png">
                        <div>
                            <p>John Mike</p><br>
                            <small>Puclic <i class="fas fa-caret-down"></i></small>
                        </div>
                    </div>
    
                    <div class="post-input-container">
                        <textarea rows="3" placeholder="Write Something.."></textarea>
                        <div class="add-post-links">
                            <a href="#"><img src="public/images/live-video.png">Live Tutorials</a>
                            <a href="#"><img src="public/images/photo.png">Photos/Video</a>
                            <a href="#"><img src="public/images/feeling.png">Books</a>
                        </div>
                    </div>
                </div>

                          
            <div class="post-container">
                <div class="post-row">
                    <div class="user-profile">
                        <img src="public/images/profile-pic.png">
                        <div>
                            <p>John Mike</p><br>
                            <span>June 24 2022,13:30 pm</span>
                        </div>
                    </div>
                    <a href="#"><i class="fa fa-ellipsis-v"></i></a>
                </div>
                
                <p class="post-text">Subscribe <span>Here bacause </span> there are more to come like test jjbjkvchbgbhcn goookjg fcgcjpbn
                    htyhxd <a href="#">#YouTutorials</a><a href="#">#MyTutorials</a></p>
                    <img src="public/images/feed-image-1.png" class="post-img">
                    
                    <div class="post-row">
                        <div class="activity-icons">
                            <div><img src="public/images/like-blue.png">120</div>
                            <div><img src="public/images/comments.png">45</div>
                            <div><img src="public/images/share.png">20</div>
                        </div> 

                        <div class="post-profile-icon">
                            <img src="public/images/member-2.png">
                            <i class="fas fa-caret-down"></i>   
                        </div>
                    </div>
            </div>

            <div class="post-container">
                <div class="post-row">
                    <div class="user-profile">
                        <img src="public/images/profile-pic.png">
                        <div>
                            <p>John Mike</p><br>
                            <span>June 24 2022,13:30 pm</span>
                        </div>
                    </div>
                    <a href="#"><i class="fa fa-ellipsis-v"></i></a>
                </div>
                
                <p class="post-text">Subscribe <span>Here bacause </span> there are more to come like test jjbjkvchbgbhcn goookjg fcgcjpbn
                    htyhxd <a href="#">#YouTutorials</a><a href="#">#MyTutorials</a></p>
                    <img src="public/images/feed-image-2.png" class="post-img">
                    
                    <div class="post-row">
                        <div class="activity-icons">
                            <div><img src="public/images/like-blue.png">120</div>
                            <div><img src="public/images/comments.png">45</div>
                            <div><img src="public/images/share.png">20</div>
                        </div> 

                        <div class="post-profile-icon">
                            <img src="public/images/member-2.png">
                            <i class="fas fa-caret-down"></i>   
                        </div>
                    </div>
            </div>

            <div class="post-container">
                <div class="post-row">
                    <div class="user-profile">
                        <img src="public/images/profile-pic.png">
                        <div>
                            <p>John Mike</p><br>
                            <span>June 24 2022,13:30 pm</span>
                        </div>
                    </div>
                    <a href="#"><i class="fa fa-ellipsis-v"></i></a>
                </div>
                
                <p class="post-text">Subscribe <span>Here bacause </span> there are more to come like test jjbjkvchbgbhcn goookjg fcgcjpbn
                    htyhxd <a href="#">#YouTutorials</a><a href="#">#MyTutorials</a></p>
                    <img src="public/images/feed-image-3.png" class="post-img">
                    
                    <div class="post-row">
                        <div class="activity-icons">
                            <div><img src="public/images/like-blue.png">120</div>
                            <div><img src="public/images/comments.png">45</div>
                            <div><img src="public/images/share.png">20</div>
                        </div> 

                        <div class="post-profile-icon">
                            <img src="public/images/member-2.png">
                            <i class="fas fa-caret-down"></i>   
                        </div>
                    </div>
            </div>

            <div class="post-container">
                <div class="post-row">
                    <div class="user-profile">
                        <img src="public/images/profile-pic.png">
                        <div>
                            <p>John Mike</p><br>
                            <span>June 24 2022,13:30 pm</span>
                        </div>
                    </div>
                    <a href="#"><i class="fa fa-ellipsis-v"></i></a>
                </div>
                
                <p class="post-text">Subscribe <span>Here bacause </span> there are more to come like test jjbjkvchbgbhcn goookjg fcgcjpbn
                    htyhxd <a href="#">#YouTutorials</a><a href="#">#MyTutorials</a></p>
                    <img src="public/images/feed-image-4.png" class="post-img">
                    
                    <div class="post-row">
                        <div class="activity-icons">
                            <div><img src="public/images/like-blue.png">120</div>
                            <div><img src="public/images/comments.png">45</div>
                            <div><img src="public/images/share.png">20</div>
                        </div> 

                        <div class="post-profile-icon">
                            <img src="public/images/member-2.png">
                            <i class="fas fa-caret-down"></i>   
                        </div>
                    </div>
            </div>

            </div>
        </div>

    </div>

<%- include("layouts/footer.ejs")%>