<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>chating</title>
    <link rel="stylesheet" href="/public/css/userchats.css">
    <link rel="stylesheet" href="/public/css/all.min.css">
    <link rel="stylesheet" href="/public/css/fontawesome.min.css">
    <link rel="stylesheet" href="/public/vendor/bootstrap/css/bootstrap.min.css">
</head>
<body>
<%if(typeof isLogin!=="undefined" && isLogin){%>
    <div class="chat-container">
        <div class="chat">
            <div class="chat-header">
                <div class="profile">

                    <div class="left">
                        <img src="/public/images/arrow_back.png" class="arrow" onclick="arrow()">
                        <img src="/public/images/group.png" class="pp-group">
                        <h2 id="chat-title"><%=room.name%></h2>
                        <span id="listnames" style="margin:5px;"></span> 
                    </div>

                    <div class="right">              
                        <img src="/public/images/duo.png" class="icon">
                        <h2 class="fa fa-ellipsis-v"></h2>
                       
                    </div>
                </div>
            </div>

            <div class="chat-box" id="chats">
                <img id="imag" hidden="true" style="width:200px; height: 150px;">
            </div>

            <div class="chat-footer">
                <img src="/public/images/feeling.png" class="emo">
                <textarea id="message" placeholder="Type Message.." style="overflow-y: hidden;"></textarea>
               
                <div class="icons">
                   <img src="/public/images/send.png"  id="button"> 
                </div>

                <div class="action" onclick="actionToggle();">
                    <span>+</span>
                    <ul>
                        <li><input src="/public/images/upload.png" type="file" accept="image/*" id="file">images</li>
                        <li><img src="/public/images/call.png">call</li>
                        <li><img src="/public/images/disconnect.png">disconnect</li>
                        <li><img src="/public/images/outline_mode_edit_outline_black_24dp.png">edit</li>
                        <li><img src="/public/images/voice.png">microphone</li>
                        <li><img src="/public/images/video.png">video</li>
                    </ul>
                </div> 
        </div>
    </div>

<%}%>
    
<script src="/public/vendor/jquery/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
    let message = document.getElementById('message'),
        feedback = document.getElementById("listnames");
    let title =document.getElementById('chat-title');
    var listchat = document.querySelectorAll('.user-name');
    var chatB = document.querySelector('.chat-container');
        var nav = document.querySelector('.navigate');
    let flag=0;
    //var io = require("socket.io-client");
    const socket = io("http://localhost:7070/startchat");
    //const socket = io("http://localhost:7070");
    var username ="<%=users.name%>";

    function actionToggle(){
        var action = document.querySelector('.action');
        action.classList.toggle('activ')
    }

    function arrow(){
            nav.style.display = "block";
            chatB.style.display = "none";
    }

    function showchat(){
        var chatBox = document.querySelectorAll('.user');
         chatBox.forEach((chat)=>{
            chat.onclick = function(e){
                chatB.style.display = "block";
                nav.style.display = "none";        
            }
        });    
    }
    // emiting the user name to the server
    socket.emit("username",username);
    // catching the image to the client
    socket.on('base64codeimage',(base64)=>{
    document.getElementById('imag').src = base64;

    //previewing the image with socket.io
    document.getElementById('file').addEventListener('change',function(){
            const reader = new FileReader();
            reader.onload = function(){
            const base64 = this.result.replace(/.*base64,/,'');
            let base64string = "data:image/jpeg;charset-utf-8;base64,"+base64;
            socket.emit('base64codeimage',base64string);
        };
        reader.readAsDataURL(this.files[0]);
        },false);

    if(username){
    $("#chats").append(`
    <div class="chat-r">
        <div class="sp"></div>
        <div class="mess mess-r">
            <img src="/public/images/profile-pic.png" class="left-pp"><span style="padding:4px;">${username}</span>
                <img id="imag" src="${base64}" style="width:100%; height: 200px;">   
            </div>
        </div>`);
    }else{
        $("#chats").append(`
        <div class="chat-l">
            <div class="mess mess-r">
                <img src="/public/images/profile-pic.png" class="left-pp"><span style="padding:4px;">${username}</span>
                    <img id="imag" src="${base64}" style="width:100%; height: 200px;">  
                    </div>
                    <div class="sp"></div>
            </div>`);
    }

    });

    //clicking the send message button 
    document.getElementById('button').addEventListener('click',()=>{
    //let message = document.getElementById('message').value;
        feedback.innerHTML="";
        socket.emit('message',message.value);
        //document.getElementById('message').value = "";
        message.value="";
    });

    message.addEventListener("keypress",function(){
    socket.emit('typing',username);
    })

    message.addEventListener("touchstart",function(){
    socket.emit('typing',username);
    })

    socket.on('typing',function(data){
    feedback.innerHTML = '<p><em>'+data+' is typing..</em></p>'
    })

    socket.on('message',(result)=>{
        if(username==result.user){
            $("#chats").append(`
            <div class="chat-r">
                <div class="sp"></div>
                <div class="mess mess-r">
                    <img src="/public/images/profile-pic.png" class="left-pp"><span style="padding:4px;">${result.user}</span>
                        <p>${result.message}<img src="/public/images/feeling.png" class="emoji" id="imag"></p>
                            <div class="check">
                                <span>4:00 PM</span>
                                <img src="/public/images/done.png" >
                            </div>       
                    </div>
                </div>`);
        }else{
            $("#chats").append(`
                <div class="chat-l">
                    <div class="mess mess-r">
                        <img src="/public/images/profile-pic.png" class="left-pp"><span style="padding:4px;">${result.user}</span>
                            <p>${result.message}<img src="/public/images/feeling.png" class="emoji" id="imag"></p>
                                <div class="check">
                                    <span>4:00 PM</span>
                                </div>
                            </div>
                            <div class="sp"></div>
                        </div>`);
            }
        });
    //getting the old maesages 
    socket.on('oldmessages',(results)=>{
    if(username==results.user){
        $("#chats").append(`
        <div class="chat-r">
            <div class="sp"></div>
            <div class="mess mess-r">
                <img src="/public/images/profile-pic.png" class="left-pp"><span style="padding:4px;">${results.user}</span>
                    <p>${results.message}<img src="/public/images/feeling.png" class="emoji"></p>
                        <div class="check">
                            <span>4:00 PM</span>
                            <img src="/public/images/done.png" >
                        </div>      
                </div>
            </div>`);
        }else{
        $("#chats").append(`
            <div class="chat-l">
                <div class="mess mess-r">
                    <img src="/public/images/profile-pic.png" class="left-pp"><span style="padding:4px;">${results.user}</span>
                        <p>${results.message}<img src="/public/images/feeling.png" class="emoji"></p>
                            <div class="check">
                                <span>4:00 PM</span>
                            </div>
                        </div>
                    <div class="sp"></div>
                </div>`);
    }
    });
/*
  socket.on('oldimage',(data)=>{

    document.getElementById('imag').src = data;
    if(username){
    $("#chats").append(`
    <div class="chat-r">
        <div class="sp"></div>
        <div class="mess mess-r">
            <img src="/public/images/profile-pic.png" class="left-pp"><span style="padding:4px;">${username}</span>
                <img id="imag" src="${data}" style="width:100%; height: 200px;">   
            </div>
        </div>`);
    }else if(username==undefined || !data){}
    else{
    $("#chats").append(`
    <div class="chat-l">
        <div class="mess mess-r">
            <img src="/public/images/profile-pic.png" class="left-pp"><span style="padding:4px;">${username}</span>
                <img id="imag" src="${data}" style="width:100%; height: 200px;">  
                </div>
                <div class="sp"></div>
            </div>`);
    }
    });
*/
</script>
</body>
</html>