<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Solutions Page</title>
    <link rel="stylesheet" href="/public/css/comments.css">
    
</head>
<body>
    <div class="solutions">
        <h3 style="text-align: center; margin: 5px;"> All Suggested Solutions </h3>

        <div class="user-solution">
        
        <div class="suggested-solution">
            <div class="profile-poster">
                <img src="images/photo3.png" class="positioned">
                <p>Solution by: James Nyondo <br>
                    Suggested On (2/03/2022)
                </p>
            </div>
            <div class="solution-area">
                <img src="images/photo5.png">
               <!-- <textarea name="" id="" cols="30" rows="10"></textarea>-->
                <div class="positioned">
                    <div>Likes(123)</div>
                    <div>Dislikes(345)</div>
                    <div class="show-replies">Corrections(40)</div>
                </div>
            </div>
        </div>

        <div class="suggested-solution">
            <div class="profile-poster">
                <img src="images/photo3.png" class="positioned">
                <p>Solution by: James Nyondo <br>
                    Suggested On (2/03/2022)
                </p>
            </div>
            <div class="solution-area">
                <img src="images/photo5.png">
               <!-- <textarea name="" id="" cols="30" rows="10"></textarea>-->
                <div class="positioned">
                    <div>Likes(123)</div>
                    <div>Dislikes(345)</div>
                    <div class="show-replies">Corrections(40)</div>
                </div>
            </div>
        </div>

        <div class="suggested-solution">
            <div class="profile-poster">
                <img src="images/photo3.png" class="positioned">
                <p>Solution by: James Nyondo <br>
                    Suggested On (2/03/2022)
                </p>
            </div>
            <div class="solution-area">
                <img src="images/photo5.png">
               <!-- <textarea name="" id="" cols="30" rows="10"></textarea>-->
                <div class="positioned">
                    <div>Likes(123)</div>
                    <div>Dislikes(345)</div>
                    <div class="show-replies">Corrections(40)</div>
                </div>
            </div>
        </div>


        </div>
     
        <button class="user-answer">Your Answer</button>
    </div>
</body>
</html>