<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>chatsUI</title>
    <link rel="stylesheet" href="/public/css/userchats.css">
</head>
<body>
    <div class="chat-container">
        <div class="chat">
            <div class="chat-header">
                <div class="profile">
                    <div class="left">
                        <img src="/public/images/arrow_back.png" class="arrow">
                        <img src="/public/images/profile.png" class="pp">
                        <h2>Elias</h2>
                        <span>online</span>
                    </div>
                    <div class="right">
                        <img src="/public/images/video.png" class="icon">
                        <img src="/public/images/call.png" class="icon">
                    </div>
                </div>
            </div>
            <div class="chat-box">

                <div class="chat-r">
                    <div class="sp"></div>
                    <div class="mess mess-r">
                        <p><img src="/public/images/feeling.png" class="emoji">
                            Hi, Elias</p>
                        <div class="check">
                            <span>4:00 PM</span>
                            <img src="/public/images/done.png" >
                        </div>
                    </div>
                </div>

                <div class="chat-l">
                    <div class="mess mess-r">
                        <p>Yes Hi my friend <img src="/public/images/feeling.png" class="emoji"></p>
                        <div class="check">
                            <span>4:00 PM</span>
                        </div>
                    </div>
                    <div class="sp"></div>
                </div>

                <div class="chat-r">
                    <div class="sp"></div>
                    <div class="mess mess-r">
                        <p><img src="/public/images/feeling.png" class="emoji">
                            Hi, Elias</p>
                        <div class="check">
                            <span>4:00 PM</span>
                            <img src="/public/images/done.png" >
                        </div>
                    </div>
                </div>

                <div class="chat-l">
                    <div class="mess mess-r">
                        <p>Yes Hi my friend <img src="/public/images/feeling.png" class="emoji"></p>
                        <div class="check">
                            <span>4:00 PM</span>
                        </div>
                    </div>
                    <div class="sp"></div>
                </div>

                <div class="chat-r">
                    <div class="sp"></div>
                    <div class="mess mess-r">
                        <p><img src="/public/images/feeling.png" class="emoji">
                            Hi, Elias</p>
                        <div class="check">
                            <span>4:00 PM</span>
                            <img src="/public/images/done.png" >
                        </div>
                    </div>
                </div>

                <div class="chat-l">
                    <div class="mess mess-r">
                        <p>Yes Hi my friend <img src="/public/images/feeling.png" class="emoji"></p>
                        <div class="check">
                            <span>4:00 PM</span>
                        </div>
                    </div>
                    <div class="sp"></div>
                </div>

                <div class="chat-r">
                    <div class="sp"></div>
                    <div class="mess mess-r">
                        <p><img src="/public/images/feeling.png" class="emoji">
                            Hi, Elias</p>
                        <div class="check">
                            <span>4:00 PM</span>
                            <img src="/public/images/done.png" >
                        </div>
                    </div>
                </div>

                <div class="chat-l">
                    <div class="mess mess-r">
                        <p>Yes Hi my friend <img src="/public/images/feeling.png" class="emoji"></p>
                        <div class="check">
                            <span>4:00 PM</span>
                        </div>
                    </div>
                    <div class="sp"></div>
                </div>

                <div class="chat-r">
                    <div class="sp"></div>
                    <div class="mess mess-r">
                        <p><img src="/public/images/feeling.png" class="emoji">
                            Hi, Elias</p>
                        <div class="check">
                            <span>4:00 PM</span>
                            <img src="/public/images/done.png" >
                        </div>
                    </div>
                </div>

                <div class="chat-l">
                    <div class="mess mess-r">
                        <p>Yes Hi my friend <img src="/public/images/feeling.png" class="emoji"></p>
                        <div class="check">
                            <span>4:00 PM</span>
                        </div>
                    </div>
                    <div class="sp"></div>
                </div>

                <div class="chat-r">
                    <div class="sp"></div>
                    <div class="mess mess-r">
                        <p><img src="/public/images/feeling.png" class="emoji">
                            Hi, Elias</p>
                        <div class="check">
                            <span>4:00 PM</span>
                            <img src="/public/images/done.png" >
                        </div>
                    </div>
                </div>

                <div class="chat-l">
                    <div class="mess mess-r">
                        <p>Yes Hi my friend <img src="/public/images/feeling.png" class="emoji"></p>
                        <div class="check">
                            <span>4:00 PM</span>
                        </div>
                    </div>
                    <div class="sp"></div>
                </div>

            </div>
            <div class="chat-footer">
                <img src="/public/images/feeling.png" class="emo">
                <textarea name="" placeholder="Type Message.."></textarea>
                <div class="icons">
                    <img src="/public/images/send.png" > 
                </div>
                <div class="action" onclick="actionToggle();">
                    <span>+</span>
                    <ul>
                        <li><img src="/public/images/upload.png" >upload</li>
                        <li><img src="/public/images/call.png">call </li>
                        <li><img src="/public/images/disconnect.png">disconnect</li>
                        <li><img src="/public/images/outline_mode_edit_outline_black_24dp.png">edit</li>
                        <li><img src="/public/images/voice.png">mic</li>
                        <li><img src="/public/images/video.png">video</li>
                    </ul>
                </div> 
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function actionToggle(){
            var action = document.querySelector('.action');
            action.classList.toggle('activ')
        }
    </script>
</body>
</html>