</div>
<script src="/public/js/script.js"></script>
<script type="text/javascript" src="/public/vendor/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>