<html>
    <head>
        <title>Logs</title>
        <link rel="stylesheet" href="/public/vendor/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/public/css/blog-post.css">
        <link rel="stylesheet" href="/public/css/modern-business.css">
        <link rel="stylesheet" href="/public/css/simple-sidebar.css">
        <link rel="stylesheet" href="/public/css/style.css">
        <link rel="stylesheet" href="/public/font-awesome/css/font-awesome.min.css">
    </head>
    <body>


